# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    dns:
      - 8.8.8.8      # Google DNS
      - 8.8.4.4
#    network_mode: "host"  # ← 关键！用主机网络，避免 Docker 网络bug
    volumes:
      - ./static/uploads:/app/static/uploads
      - ./app.log:/app/app.log
    environment:
      - FLASK_ENV=production
    restart: unless-stopped
    networks:
      - blog_net   # 加入共享网络
  nginx:
    image: nginx:alpine
 #   ports:
 #     - "80:80"
 #     - "443:443"
    ports: []  # Tunnel 不需要暴露端口，先清空或注释
    volumes:
       - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
       - ./certs:/etc/nginx/certs:ro  # HTTPS 证书
       - ./static:/app/static:ro     # 静态文件
    depends_on:
      - web
    restart: unless-stopped
    networks:
      - blog_net   # 加入共享网络

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token eyJhIjoiYjQ5NDM3ZDRiMGI1ZjBhYmI4MGJiZDBiM2UxMzU0MzIiLCJ0IjoiYmE3ZWFkNjQtYTJmMy00MGMwLWJhNjAtZDI2MmI2NzgxYThkIiwicyI6Ik5XRmlZbVF4WW1JdE16UTVOUzAwTTJVekxXSTROR0l0TWprM05EVmpNRGhrTVRSaiJ9
#    network_mode: "host"   # 关键！用 host 网络
#    networks:
#     - internal  # 和其他服务同网络，能互相访问
    networks:
      - blog_net   # 只用这个
#networks:
#   internal:
networks:
  blog_net:

